<footer id="site-footer">
  <div class="container">

    <div id="contact">
      <h2>Contact</h2>
      <div>
        <div class="info">
          <p>
            <a class="twitter icon" href="http://www.twitter.com/carlyzien">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.1 35.8" enable-background="new 0 0 44.1 35.8"><path fill="#fff" d="M44.1 4.2c-1.6.7-3.4 1.2-5.2 1.4 1.9-1.1 3.3-2.9 4-5-1.8 1-3.7 1.8-5.7 2.2-1.7-1.8-4-2.9-6.6-2.9-5 0-9 4.1-9 9.1 0 .7.1 1.4.2 2.1-7.5-.4-14.2-4-18.6-9.5-.9 1.4-1.3 2.9-1.3 4.6 0 3.1 1.6 5.9 4 7.5-1.5 0-2.9-.5-4.1-1.1v.1c0 4.4 3.1 8 7.3 8.9-.8.2-1.6.3-2.4.3-.6 0-1.2-.1-1.7-.2 1.2 3.6 4.5 6.2 8.5 6.3-3.1 2.4-7 3.9-11.2 3.9-.7 0-1.4 0-2.2-.1 4 2.6 8.8 4.1 13.9 4.1 16.6 0 25.7-13.8 25.7-25.7v-1.2c1.7-1.4 3.2-3 4.4-4.8z"></path></svg>
            </a>
            <a class="instagram icon" href="http://www.instagram.com/carlyzien">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" enable-background="new 0 0 36 36"><path fill="#fff" d="M31.8 0h-27.6c-2.3 0-4.2 1.9-4.2 4.2v27.7c0 2.2 1.9 4.1 4.2 4.1h27.7c2.3 0 4.2-1.9 4.2-4.2v-27.6c-.1-2.3-2-4.2-4.3-4.2zm-13.8 11.1c3.8 0 6.9 3.1 6.9 6.9 0 3.8-3.1 6.9-6.9 6.9s-6.9-3.1-6.9-6.9 3.1-6.9 6.9-6.9zm13.8 19.4c0 .8-.6 1.4-1.4 1.4h-24.9c-.8 0-1.4-.6-1.4-1.4v-15.3h3.1c-.1.9-.3 1.8-.3 2.8 0 6.1 5 11.1 11.1 11.1s11.1-5 11.1-11.1c0-1-.1-1.9-.4-2.8h3.1v15.3zm0-20.8c0 .8-.6 1.4-1.4 1.4h-4.2c-.8 0-1.4-.6-1.4-1.4v-4.2c0-.8.6-1.4 1.4-1.4h4.2c.8 0 1.4.6 1.4 1.4v4.2z"></path></svg>
            </a>
          </p>
          <p><span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:pneyl.mvra@tznvy.pbz\" >Rznvy Pneyl</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(eo);</script>
<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.liamg@neiz.ylrac</span></noscript></span></p>
          <p><a href="/resume">View r&eacute;sum&eacute;</a></p>
        </div>
        <div>
          <h3 class="smallcaps">Agency</h3>
          <p>Nicole Wichinsky</p>
          <p><a href="http://www.dgrwinc.com/" target="_blank">DGRW, Inc.</a></p>
          <p><a href="tel:2123822000">(212) 382–2000</a></p>
        </div>
        <div>
          <h3 class="smallcaps">Commercial &amp; Voiceover agency</h3>
          <p>Doug Kesten and Stacye Mayer</p>
          <p><a href="http://www.paradigmagency.com/" target="_blank">Paradigm</a></p>
          <p><a href="tel:2128976400">(212) 897-6400</a></p>
        </div>
      </div>
    </div>
    <div id="mailchimp">
      <div id="mc_embed_signup">
        <form action="//carlyzien.us10.list-manage.com/subscribe/post?u=894b47581748e4deb609287fb&amp;id=c07cbe00f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>For updates from Carly, sign up here.</h2>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_894b47581748e4deb609287fb_c07cbe00f6" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>
  </div>
</footer>