<footer id="site-footer">
  <div class="container">
    <div id="contact">
      <h2>Contact</h2>
      <p><a href="mailto:carly.zien@yale.edu">carly.zien@yale.edu</a></p>
      <p><a href="/resume">View r&eacute;sum&eacute;</a></p>
      <div class="keyline"></div>
      <div class="agency">
        <h3 class="smallcaps">Agency</h3>
        <p>Nicole Wichinsky</p>
        <p><a href="http://www.dgrwinc.com/" target="_blank">DGRW, Inc.</a></p>
        <p><a href="tel:2123822000">(212) 382–2000</a></p>
      </div>
      <div class="agency">
        <h3 class="smallcaps">Commercial &amp; Voiceover agency</h3>
        <p><a href="http://www.abramsartists.com/" target="_blank">Abrams Artists Agency</a></p>
        <p><a href="tel:6464864600">(646) 486–4600</a></p>
      </div>
    </div>
  </div>
</footer>