#coaching
  Genath()
  background #fafafd
  color #4A6650
  p, a, ul
    font-size 1.1em


  h1
    color #59B55C
    border-bottom 2px solid
    padding-bottom 1rem

  strong
    margin-top 1rem

  header
    // border-bottom 2px solid #59B55C
    h1
      margin-top 2rem
      margin-bottom 1rem
      border-bottom 0
      padding-bottom 0
      font-size 2em
      line-height 1.05
    a
      text-decoration none
      color #59B55C
      border-bottom 2px solid
      margin-bottom 1rem
      display inline-block
      padding-bottom 1rem
      width 100%
      GenathBold()
      font-size 1.5em
      transition all 0.15s ease
      span
        font-weight 100
        GenathDisplay()
        font-size 0.75em
        transition padding 0.5s ease, color 0.15s ease
    a:hover
      color #4A6650
      span
        padding-left 0.5em


  #top
    margin-bottom 1rem
    h1
      margin-bottom .25em
      font-size 6em
      margin-top 2rem
      GenathDisplay()
      display inline-block

  #services
    padding-bottom 3em
    .service
      p
        margin-bottom 1em
      h2
        color #59B55C
        margin -.5em 0 .5em 0
        line-height 1.25
        font-size 1.5em
        GenathBold()

  #testimonials
    background #CFE0CF
    padding-bottom 3rem

  #testimonials-content > div
    margin-bottom 1rem
    background #fafafd
    margin-top .75rem
    padding 1.25rem
    box-sizing: border-box;
    p
      margin-bottom 1rem
    &:first-letter
      float left
      padding 1rem .5rem .5rem
      margin-left -.5rem
      GenathDisplay()
      font-size 3.25rem
    i i
      text-decoration underline

  #form
    padding 2rem 0
    text-align center
    iframe
      width 100%

@media screen and (min-width: 40em)
  #coaching
    #top
      margin-bottom 4rem
      h1
        margin-bottom 1em
    .service
      margin-bottom 4rem
      header, >div
        display inline-block
        vertical-align top
      header
        width 28%
        padding-bottom 1.5rem
        margin-right 2rem
        h1
          font-size 3em
          margin-top 0rem
          margin-bottom 1rem
      > div
        width 66%
    ul
      margin-left 1em



    #form iframe
      width 550px
