#home
  height 100%

  #top
    height 90%
    position relative
    box-sizing border-box
    background #fff
    min-height 700px

    &.show-bio
      #info
        margin-left -100%
      #bio
        margin-left -5.555555555%


    #headshot
      position absolute
      z-index 1
      height 100%
      min-width 523px
      width 50%
      left 50%
      background #fafafd
      .bg
        width 100%
        height 100%
        background-size cover !important
        background-position center center
        background-repeat none
        transition opacity 0.4s ease-out
      .caption
        position absolute
        bottom 1em
        padding 0 1em
        width 90%
        Genath()
        font-size 1.25em
        text-align center
        color rgba(130,130,130,0.5)
      &:after
        content: ''
        display block
        position absolute
        width 1.5em
        height 1.5em
        border-radius 50%
        background #B2D6B3
        margin -.75em 0 0 -.75em
        top 50%
        left 50%
        opacity 0
        transition opacity 0.3s ease
      &.loading
        .bg
          opacity 0
        &:after
          opacity 1
          animation loading-pulse 2s infinite

    .grid
      height 100%

    #info
      wrapper()
      width 44%
      box-sizing border-box
      padding-top 6em
      transition margin-left 0.5s ease-in-out

      h1
        GenathDisplay()
        letter-spacing -0.025em
        margin 0 0 .5em 0
        color #59B55C
        position relative
        z-index 2
        left -0.025em
        font-size 9em
        line-height 0.85em
      
      p
        GenathBold()
        color #4A6650
        font-size 1.66em
        line-height 2rem
        position relative

      #links
        margin-top 2em
        display inline-block
        .keyline
          width 100%
          height 2px
          background #4A6650
          margin 2em 0 1em 0
        .contact, .resume, .coaching
          margin-left 0.75em

    #bio
      position absolute
      top 0
      margin-left 50%
      width 50%
      height 90%
      overflow-y scroll
      padding 2em 0
      GenathBold()
      color #4A6650
      transition margin-left 0.5s ease-in-out
      &.active
        margin-left -5.5555555555%
      .grid
        margin 0 11.1111111111%
      p
        font-size 1.25em
        line-height 1.5em
        margin 0 0 1em 0
      .back
        display block
        GenathBold();
        color #59B55C
        text-decoration none
        transition color 0.15s ease
        position relative
        &:before
          content '\2190'
          position absolute
          left -1.5em
        &:hover
          color #CFE0CF 

    #info, #bio
      p
        a
          color #59B55C
          text-decoration none
          transition color 0.15s ease
          &:hover
            color #CFE0CF

  .more
    display block
    text-align center
    margin 0 auto
    cursor pointer
  
  #photos
    background #202026
    padding 0
    transition padding-bottom 0.25s ease-in-out

    &.disable-hover, &.disable-hover *
      pointer-events: none !important;

    .more
      color #8888E8
      display none
      position relative
      line-height 3.75em
      GenathBold()
      font-size 2em
      transition color 0.25s ease
      span
        position relative
        z-index 1
      &:after
        content ''
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        background linear-gradient(bottom, rgba(0,0,0,.9), rgba(0,0,0,0))
        transition opacity 0.25s ease-in-out
      &:hover
        color #fff
        &:after
          opacity 0.6

    &.collapsed
      height 36rem
      padding-bottom 7.5rem
      .more
        display block

    ul
      height 100%
      display block
      list-style none 
      font-size 0
      line-height 0
      background #202026

    li
      position relative
      font-size 1rem
      height 18em
      width 25%
      box-sizing border-box
      margin 0
      display inline-block
      transition background-size 0.3s ease-out
      overflow hidden
      cursor pointer
      &:after
        content: ''
        display block
        position absolute
        width 1em
        height 1em
        border-radius 50%
        background #B2D6B3
        margin -.75em 0 0 -.75em
        top 50%
        left 50%
        opacity 0
        transition opacity 0.3s ease
      &.loading
        .bg, .caption
          opacity 0 !important
        &:after
          opacity 1
          animation loading-pulse 2s infinite

      div
        position absolute
        top 0
        left 0
        width 100%
        height 100%

      .caption
        box-sizing border-box
        opacity 0
        Genath()
        color #CED0E8
        transition opacity 0.4s ease
        position relative
        background linear-gradient(bottom, rgba(0,0,0,.75), 40% rgba(0,0,0,0))

        p
          position absolute
          bottom 0
          font-size 1.5em
          line-height 1em
          padding .5em


      .bg
        background-size cover
        background-position center center
        background-repeat no-repeat
        opacity 0.75
        transition transform 0.3s ease-in-out,
                   opacity 0.3s ease-in-out,
                   -webkit-filter 0.3s ease-in-out
        -webkit-filter grayscale(0.925)

      &.hidden
        display none

      &:hover
        .bg
          transform scale(1.05)
          opacity 1
          -webkit-filter grayscale(0)
        .caption
          opacity 1

      
  #recent
    position relative
    background #fff
    padding 3em
    color #4A6650
    min-height 75vh

    .posts
      position relative

    .border, .border div
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      box-sizing border-box
      border 24px solid transparent
      border-width 8px
      
    .border div 
      border 8px solid #59B55C
        


    h2
      GenathBold()
      font-size 3em
      text-align center
      color #4A6650
      padding-top 0.5em
      letter-spacing -0.05em
      margin 0 0 1em 0

    .more
      margin 0 auto
      Genath()
      SmallCaps()
      text-align center
      margin-bottom 1em
      font-size 2em
      opacity 0.66

    li
      display block
      height 9em
      text-align center
      box-sizing border-box
      a
        GenathBold()
        color #59B55C
        text-decoration none
        font-size 3em
        line-height 1em
        transition color 0.15s ease
        &:hover
          color #CFE0CF
      
      p
        GenathBold()
        SmallCaps()
        font-size 1.25em
        margin 0.5em
        opacity 0.66

    .more 
      text-decoration none
      color #4A6650
      .arrow
        font-size 0.8em
        position relative
        top 0.03em


@media screen and (max-width: 40em)

  #home
    #top
      height auto
      padding-bottom 3em
      #headshot
        min-width 100%
        height 70%
        width 100%
        left 0
        .caption
          display none
      #info
        padding-top 90%
        width auto
        h1
          font-size 6em
          position relative
          top 50%
          color #fff
          text-align center
        p
          top 1em
        #links 
          margin-top 1em
          .bio
            display none
          .contact
            margin-left 0
      #bio
        display none

    #photos
      &.collapsed
        height 24rem
      li
        width 50%
        height 12rem
        .bg
          -webkit-filter none

    #recent
      font-size 0.8em
      padding-bottom 8em
      li 
        margin-bottom 3em
        a
          letter-spacing -0.02em

    footer
      font-size 0.8em
      height auto

    #contact, #resume
      width 100%
    #contact
      h2
        margin-bottom 0.5em
    #resume
      h2
        margin 0.5em 0

    #resume
      padding-bottom 2em
