Academy()
  font-family "Academy-Regular", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Genath()
  font-family "Genath-Regular", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

GenathBold()
  font-family "Genath-Bold", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

GenathDisplay()
  font-family "Genath-Display", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Cardo()
  font-family "Cardo", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

CardoBold()
  font-family "Cardo", "Baskerville", "Georgia", "Times", serif
  font-weight 700
  Kern()
  Smooth()

Neuton()
  font-family "Neuton", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Lora()
  font-family "Lora", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Alegreya()
  font-family "Alegreya", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Goudy()
  font-family "Goudy Bookletter 1911", "Baskerville", "Georgia", "Times", serif
  font-weight 400
  Kern()
  Smooth()

Karla()
  font-family "Karla", "Helvetica Neue", "Helvetica", sans-serif
  font-weight 400
  Kern()
  Smooth()

KarlaBold()
  font-family "Karla", "Helvetica Neue", "Helvetica", sans-serif
  font-weight 700
  Kern()
  Smooth()

NoLiga()
  font-feature-settings "liga" 0

Kern()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1

KernNoLiga()
  text-rendering optimizeLegibility
  font-feature-settings "kern" 1, "liga" 0

Smooth()
  font-smoothing antialiased
  -moz-osx-font-smoothing grayscale