body.post
  background #CFE0CF
  
#post
  grid()
  Genath()
  padding 4em 0 6em 0
  color #213124

  .title
    Genath()
    font-size 3.5em
    line-height 1em
    letter-spacing -0.033em
    color #59B55C
    margin 0
    max-width 90%

  .meta
    font-size 1.25em
    margin 1em 0
    SmallCaps()
    color #74A574

  .wrapper
    width 75%
    margin-left 12.25%

  .content

    .show
      background #fff
      margin 2em 0
      padding 1.5em 2em 2em 2em
      box-sizing border-box
      h3
        GenathBoldItalic()
        font-size 2em
        line-height 1.25em
        color #4A6650
        margin 0 0 .25em 0
      p
        color #4A6650
        font-size 1.33em
        

    p
      font-size 1.5em
      line-height 1.5em
      color #213124
      a
        color #31982F
        text-decoration none
        border-bottom 1px solid #31982F
        transition color 0.15s ease, border-color 0.15s ease
        &:hover
          color #59B55C
          border-bottom-color #59B55C

  figure
    margin 2em 0

    figcaption
      font-size 1.15em
      margin 1em 0 0 0
      color #74A574
      SmallCaps()


@media screen and (max-width: 40em)

  #post
    padding-top 2em

    .title
      max-width 100%

    .wrapper
      width 100%
      margin-left 0