html
  &.noscroll
    body
      overflow hidden
  

section
  overflow hidden

footer
  background #2B2A46
  padding-bottom 4em

  .container
    height 100%
  
  #contact
    height 100%

    > div
      display flex
      text-align left
      justify-content space-around
      flex-wrap wrap
      box-sizing border-box
      padding 0 1rem 1rem 1rem
      
      > div
        min-width 360px
        

    p
      GenathBold()
      font-size 2em
      margin 0 0 .5em 0
      color #7270B1
      line-height 1.25
      
    a
      display block
      text-decoration none
      color #7270B1
      transition 0.15s ease
      &:hover
        color #CED0E8
      &.icon
        display inline-block
      svg
        display 
        width: 36px;
        height: 36px;
        margin 0 .5em 0 0
        *
          transition fill 0.15s ease
          fill #7270B1 
        &:hover 
          *
            fill #CED0E8
    h2
      GenathBold()
      font-size 3em
      text-align center
      color #CED0E8
      padding-top 0.5em
      letter-spacing -0.05em
      margin 0 0 1em 0

    h3
      color #7270B1
      GenathBold()
      SmallCaps()
      font-size 1.25em
      margin 0.5em 0
      opacity 0.66    

#mailchimp #mc_embed_signup
  color #7270B1
  Genath()
  text-align center
  h2
    color #CED0E8
    text-align center
    margin 3rem auto 2rem auto
  label
    SmallCaps()
    color #7270B1
    font-size 1.25em
    opacity 0.66    
  input
    transition all 0.15s ease
  a
    color #7270b1
  input[type="email"], input[type="text"]
    Genath()  
    background transparent
    border none
    outline none
    -webkit-appearance none
    border-bottom 1px solid #7270b1
    color #CED0E8
    padding-left 0
    text-align left
    &:focus
      background rgba(250,250,255,0.2)
  input[type="submit"]
    background transparent
    border 1px solid #7270B1
    border-radius 2px
    color #CED0E8
    GenathBold()
    text-align center
    margin 0 auto
    height auto
    font-size 1.5rem
    padding 1rem auto
    height 3rem
    display block
    width calc(100% - 1rem)
    margin 1rem 0 0 0
    &:hover
      background #7270b1
    &:active
      background #CED0E8
      color #7270b1
  .clear
    text-align center

@keyframes loading-pulse
  0%
    background #B2D6B3
  50%
    background #59B55C
  100%
    background #B2D6B3

@media screen and (min-width: 768px)
  #mailchimp #mc_embed_signup 
    .mc-field-group
      display inline-block
      vertical-align top
      width 29%
      margin-right 2rem
    input[type="submit"]
      display inline-block
      width 50%
    

    

@media screen and (max-width: 920px)
  footer 
    #contact > div
      text-align center
      margin-bottom 2em
      flex-direction column