html
  &.noscroll
    body
      overflow hidden
  

section
  overflow hidden

footer
  background #2B2A46
  padding-bottom 4em

  .container
    text-align center
    height 100%
  
  #contact
    display inline-block
    height 100%

    a
      display block
      GenathBold()
      text-decoration none
      font-size 2em
      margin 0 0 1em 0
      color #7270B1
      transition 0.15s ease
      &:hover
        color #CED0E8

    h2
      GenathBold()
      font-size 3em
      text-align center
      color #CED0E8
      padding-top 0.5em
      letter-spacing -0.05em
      margin 1em 0

@keyframes loading-pulse
  0%
    background #B2D6B3
  50%
    background #59B55C
  100%
    background #B2D6B3