html
  &.noscroll
    body
      overflow hidden
  

section
  overflow hidden

footer
  background #2B2A46
  padding-bottom 4em

  .container
    text-align center
    height 100%
  
  #contact
    height 100%

    p
      GenathBold()
      font-size 2em
      margin 0 0 .5em 0
      color #7270B1
      line-height 1.25
      
    a
      display block
      text-decoration none
      color #7270B1
      transition 0.15s ease
      &:hover
        color #CED0E8
      &.icon
        display inline-block
      svg
        display 
        width: 36px;
        height: 36px;
        margin 0 .5em
        *
          transition fill 0.15s ease
          fill #7270B1 
        &:hover 
          *
            fill #CED0E8
    h2
      GenathBold()
      font-size 3em
      text-align center
      color #CED0E8
      padding-top 0.5em
      letter-spacing -0.05em
      margin 0 0 1em 0

    h3
      color #7270B1
      GenathBold()
      SmallCaps()
      font-size 1.25em
      margin 0.5em
      opacity 0.66

  .agency
    width 46%
    display inline-block
    vertical-align top
    
  a 
    



@keyframes loading-pulse
  0%
    background #B2D6B3
  50%
    background #59B55C
  100%
    background #B2D6B3

@media screen and (max-width: 40em)
  footer 
    #contact .agency
      width 100%
      margin-bottom 1em
